<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
<div class="flex-container">
    <div *ngIf="patient!=null">
        <div class="user">
        </div>
         <h2>{{patient.firstname}}</h2>
        <div>Id :{{patient.pkUserId}}<br><br> Firstname :{{patient.firstname}}<br><br> Lastname :{{patient.lastname}}<br><br>
            MobileNumber:{{patient.phoneNumber}} <br><br> City :{{patient.city}}<br><br> State :{{patient.state}}<br><br> BloodGroup :{{patient.bloodGroup}}<br><br> Weight :{{patient.weight}}<br><br>
        
        </div>
    </div >
</div>
<!-- <button id= "btn1" (click)="update()">UPDATE</button> -->
<app-button (click)="update()" [label]="label1" [color] = "color1" id = "btn1"></app-button>
<!-- <button id= "btn" (click)="back()">BACK</button> -->
<app-button (click)="back()" [label]="label2" [color] = "color2" id = "btn"></app-button>