.btn{
    background:#2ecc71;
    // widows: 80px;
    padding: 0.5em;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    // border-radius:4px;
    // border: rgb(50, 200, 13) 1px solid;
    // margin-top:17px;
    // margin-bottom:20px;
    // float:left;
    // margin-left:105px;
    font-weight:500;
    font-size:1.0em;
  }
  
  .btn:hover{
    background:#2CC06B; 
  }